.app-container {
   font-family: 'Arial', sans-serif;
   padding: 20px;
   max-width: 1200px;
   margin: 0 auto;
 }
 
 .employee-list {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   justify-content: center;
 }
 
 .employee-card {
   border: 1px solid #ddd;
   border-radius: 8px;
   padding: 20px;
   cursor: pointer;
   transition: transform 0.3s;
   width: calc(33% - 40px); /* Adjust width for medium screens */
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }
 
 .employee-card:hover {
   transform: scale(1.05);
 }
 
 .employee-card h3 {
   margin-top: 0;
 }
 
 .employee-details {
   margin-top: 20px;
 }
 
 .offer-card {
   margin-top: 20px;
   border: 1px solid #ddd;
   border-radius: 8px;
   padding: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }
 
 .details-message {
   font-style: italic;
   color: #888;
 }
 
 /* Responsive Styles */
 
 @media (max-width: 768px) {
   .employee-card {
     width: calc(50% - 20px); /* 2 cards per row on smaller screens */
   }
 }
 
 @media (max-width: 480px) {
   .employee-card {
     width: 100%; /* Full width for cards on very small screens */
   }
   .employee-list {
     flex-direction: column;
     align-items: center;
   }
   .app-container {
     padding: 10px;
   }
 }